In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('people_in.csv')

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.head(100)

In [ ]:
df.head(30)

In [ ]:
df.head()

In [ ]:
df['name']

In [ ]:
df['NAME']

In [ ]:
df.NAME

In [ ]:
df[['NAME', 'LAST_NAME']]

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0, 1], 3]

In [ ]:
df.loc[0]

In [ ]:
df

In [ ]:
df['CONNECTIONS'] > 200

In [ ]:
df['COUNTRY']

In [ ]:
filt = (df['COUNTRY'] == 'Brazil')

In [ ]:
df[filt]

In [ ]:
countries = ['Brazil', 'Colombia', 'Panama']

In [ ]:
filt = df['COUNTRY'].isin(countries)

In [ ]:
df[filt]

In [ ]:
df

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('people_in.csv')

In [ ]:
df

In [ ]:
filt = df['CURRENT_ROLE'].str.contains('vice president', na=False)

In [ ]:
df.loc[filt, 'CURRENT_ROLE']

In [ ]:
filt = (df['CURRENT_ROLE'].str.contains('president', na=False)) | (df['CURRENT_ROLE'].str.contains('director', na=False))

In [ ]:
df.loc[filt, 'CURRENT_ROLE']

In [ ]:
df.loc[filt, 'CURRENT_ROLE']

In [ ]:
filt = df['CURRENT_ROLE'].str.extract('(president|director)')

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('people_in.csv')

In [4]:
df

,ID,NAME,LAST_NAME,CURRENT_ROLE,COUNTRY,INDUSTRY,RECOMMENDATIONS,CONNECTIONS
0,573435640,jean,harion,vice president,Dominica,Telecommunications,0,0
1,337983069,meredith,kopit-levien,chief revenue officer,United States,Publishing,0,0
2,556570894,daniel,roe,vp customer operations and support,United States,Computer Software,0,270
3,646158956,craig,gulliver,vice president support services,Canada,Computer Software,0,0
4,345736039,isaac,stringer,vice president,United States,Electronics,0,0
...,...,...,...,...,...,...,...,...
2774,643190777,rosemary,jackson,psychiatric nurse practitioner,United States,Business Services,0,0
2775,643191231,johan,jacobs,senior analyst programmer,South Africa,Logistics and Supply Chain,0,0
2776,643440426,alicia,clopton,child care eligibility supervisor,United States,Hospitality,0,0
2777,643380081,maxwell,bowman,freelancer,United States,Business Services,0,0
2778,643659962,chin,yeo,channel management,Singapore,Wire & Cable,0,0

In [5]:
filt = df['COUNTRY'] == 'United States'

In [6]:
usa = df[filt]

In [7]:
df

,ID,NAME,LAST_NAME,CURRENT_ROLE,COUNTRY,INDUSTRY,RECOMMENDATIONS,CONNECTIONS
0,573435640,jean,harion,vice president,Dominica,Telecommunications,0,0
1,337983069,meredith,kopit-levien,chief revenue officer,United States,Publishing,0,0
2,556570894,daniel,roe,vp customer operations and support,United States,Computer Software,0,270
3,646158956,craig,gulliver,vice president support services,Canada,Computer Software,0,0
4,345736039,isaac,stringer,vice president,United States,Electronics,0,0
...,...,...,...,...,...,...,...,...
2774,643190777,rosemary,jackson,psychiatric nurse practitioner,United States,Business Services,0,0
2775,643191231,johan,jacobs,senior analyst programmer,South Africa,Logistics and Supply Chain,0,0
2776,643440426,alicia,clopton,child care eligibility supervisor,United States,Hospitality,0,0
2777,643380081,maxwell,bowman,freelancer,United States,Business Services,0,0
2778,643659962,chin,yeo,channel management,Singapore,Wire & Cable,0,0

In [8]:
df.loc[filt]

,ID,NAME,LAST_NAME,CURRENT_ROLE,COUNTRY,INDUSTRY,RECOMMENDATIONS,CONNECTIONS
1,337983069,meredith,kopit-levien,chief revenue officer,United States,Publishing,0,0
2,556570894,daniel,roe,vp customer operations and support,United States,Computer Software,0,270
4,345736039,isaac,stringer,vice president,United States,Electronics,0,0
7,643456781,louisa long,jaffe,president and chief executive officer,United States,Internet,0,0
8,645564136,john,mollard,vice president and treasurer,United States,Electronics,0,0
...,...,...,...,...,...,...,...,...
2771,641713357,jason,vanslyke,sous chef,United States,Business Services,0,0
2772,642983805,shane,curtis,graduate student,United States,Electronics,0,0
2774,643190777,rosemary,jackson,psychiatric nurse practitioner,United States,Business Services,0,0
2776,643440426,alicia,clopton,child care eligibility supervisor,United States,Hospitality,0,0
2777,643380081,maxwell,bowman,freelancer,United States,Business Services,0,0

In [9]:
df[filt]

,ID,NAME,LAST_NAME,CURRENT_ROLE,COUNTRY,INDUSTRY,RECOMMENDATIONS,CONNECTIONS
1,337983069,meredith,kopit-levien,chief revenue officer,United States,Publishing,0,0
2,556570894,daniel,roe,vp customer operations and support,United States,Computer Software,0,270
4,345736039,isaac,stringer,vice president,United States,Electronics,0,0
7,643456781,louisa long,jaffe,president and chief executive officer,United States,Internet,0,0
8,645564136,john,mollard,vice president and treasurer,United States,Electronics,0,0
...,...,...,...,...,...,...,...,...
2771,641713357,jason,vanslyke,sous chef,United States,Business Services,0,0
2772,642983805,shane,curtis,graduate student,United States,Electronics,0,0
2774,643190777,rosemary,jackson,psychiatric nurse practitioner,United States,Business Services,0,0
2776,643440426,alicia,clopton,child care eligibility supervisor,United States,Hospitality,0,0
2777,643380081,maxwell,bowman,freelancer,United States,Business Services,0,0