In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('people_in.csv')

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.head(100)

In [ ]:
df.head(30)

In [ ]:
df.head()

In [ ]:
df['name']

In [ ]:
df['NAME']

In [ ]:
df.NAME

In [ ]:
df[['NAME', 'LAST_NAME']]

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0, 1], 3]

In [ ]:
df.loc[0]

In [ ]:
df

In [ ]:
df['CONNECTIONS'] > 200

In [ ]:
df['COUNTRY']

In [ ]:
filt = (df['COUNTRY'] == 'Brazil')

In [ ]:
df[filt]

In [ ]:
countries = ['Brazil', 'Colombia', 'Panama']

In [ ]:
filt = df['COUNTRY'].isin(countries)

In [ ]:
df[filt]

In [ ]:
df

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('people_in.csv')

In [4]:
df

,ID,NAME,LAST_NAME,CURRENT_ROLE,COUNTRY,INDUSTRY,RECOMMENDATIONS,CONNECTIONS
0,573435640,jean,harion,vice president,Dominica,Telecommunications,0,0
1,337983069,meredith,kopit-levien,chief revenue officer,United States,Publishing,0,0
2,556570894,daniel,roe,vp customer operations and support,United States,Computer Software,0,270
3,646158956,craig,gulliver,vice president support services,Canada,Computer Software,0,0
4,345736039,isaac,stringer,vice president,United States,Electronics,0,0
...,...,...,...,...,...,...,...,...
2774,643190777,rosemary,jackson,psychiatric nurse practitioner,United States,Business Services,0,0
2775,643191231,johan,jacobs,senior analyst programmer,South Africa,Logistics and Supply Chain,0,0
2776,643440426,alicia,clopton,child care eligibility supervisor,United States,Hospitality,0,0
2777,643380081,maxwell,bowman,freelancer,United States,Business Services,0,0
2778,643659962,chin,yeo,channel management,Singapore,Wire & Cable,0,0

In [9]:
filt = df['CURRENT_ROLE'].str.contains('vice president', na=False)

In [10]:
df.loc[filt, 'CURRENT_ROLE']

0                                     vice president
3                    vice president support services
4                                     vice president
5       vice president de administracion de negocios
8                       vice president and treasurer
                            ...
842                                   vice president
1089        vice president regional asset management
1170                      vice president of services
1189                     vice president of marketing
1760                                  vice president
Name: CURRENT_ROLE, Length: 89, dtype: object

In [18]:
filt = (df['CURRENT_ROLE'].str.contains('president', na=False)) | (df['CURRENT_ROLE'].str.contains('director', na=False))

In [17]:
df.loc[filt, 'CURRENT_ROLE']

67     vice president and medical director usaa life ...
285                    president and scientific director
309    managing director thule s.p.a. - president bu ...
Name: CURRENT_ROLE, dtype: object

In [19]:
df.loc[filt, 'CURRENT_ROLE']

0                                     vice president
3                    vice president support services
4                                     vice president
5       vice president de administracion de negocios
7              president and chief executive officer
                            ...
2644        associate director institutional banking
2647        director of photography and photographer
2648                            director of coaching
2657                       director of core services
2692                                        director
Name: CURRENT_ROLE, Length: 297, dtype: object

In [22]:
filt = df['CURRENT_ROLE'].str.extract('(president|director)')